version: '3.9'

services:

  db:
    image: postgres:15.3-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: collaberr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: collaberr
    volumes:
      - postgresql-data:/var/lib/postgresql/data

volumes:
  postgresql-data:
    driver: local
