version: '3.9'

services:

  db:
    image: postgres:15.3-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: collaberr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: collaberr
    volumes:
      - postgresql-data:/var/lib/postgresql/data

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '8000:8000'
    depends_on:
      - db
    environment:
      CORE_SETTING_DATABASES: '{"default":{"HOST":"db"}}'
      CORE_SETTING_LOCAL_SETTINGS_PATH: 'core/project/settings/templates/settings.dev.py'
  
  frontend:
    image: wodus5677/collaberr-web:latest
    ports:
      - '3000:3000'
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    ports:
      - '80:80'
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    profiles:
      - pgadmin
    logging:
      driver: none

volumes:
  postgresql-data:
    driver: local
