{% extends 'home/base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="container--600">
  <div class="spacer--80"></div>
  <div class="section--header">
    <div class="text--h2 text--bold gray-900">Sign up</div>
  </div>
  <div class="section--body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">Email</p>
        <input class="field--l" type="email" name="email" placeholder="Enter email address" required>
        <p class="text--h7 text--medium red-500">{{ form.email.errors }}</p>
      </div>
      
      <div class="input__col-2">
        <div class="input--field col--2">
          <p class="text--h7 text--medium gray-700">First name</p>
          <input class="field--l" type="text" name="first_name" placeholder="Enter first name" required>
          <p class="text--h7 text--medium red-500">{{ form.first_name.errors }}</p>
        </div>
  
        <div class="input--field col--2">
          <p class="text--h7 text--medium gray-700">Last name</p>
          <input class="field--l" type="text" name="last_name" placeholder="Enter last name" required>
          <p class="text--h7 text--medium red-500">{{ form.last_name.errors }}</p>
        </div>
      </div>

      <div class="spacer--40"></div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">User name</p>
        <input class="field--l" type="text" name="username" placeholder="Enter username" required>
        <p class="text--h7 text--medium red-500">{{ form.username.errors }}</p>
      </div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">Password</p>
        <input class="field--l" type="password" name="password1" placeholder="Enter password" required>
        <p class="text--h7 text--medium red-500">{{ form.password1.errors }}</p>
      </div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">Password confirm</p>
        <input class="field--l" type="password" name="password2" placeholder="Enter password again" required>
        <p class="text--h7 text--medium red-500">{{ form.password2.errors }}</p>
      </div>

      <div class="spacer--40"></div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">Role</p>
        <select class="field--l" name="role" required>
          <option value="CREATOR">Creator</option>
          <option value="BUSINESS">Business</option>
        </select>
        <p class="text--h7 text--medium red-500">{{ form.role.errors }}</p>
      </div>

      <div class="input--field">
        <p class="text--h7 text--medium gray-700">Profile image</p>
        <input class="field--l" type="file" accept="image/*" name="profile_image" placeholder="Click to upload image">
        <p class="text--h7 text--medium red-500">{{ form.profile_image.errors }}</p>
      </div>

      <div class="spacer--40"></div>
      
      <button class="btn--fill--primary--l" id="signup_submit" type="submit">
        <p class="text--h7 text--medium gray-50">signup</p>
      </button>
    </form>
  </div>
</div>
{% endblock %}