<!DOCTYPE html>
<html lang="en">
  {% load static %}  
<head>
  {% include 'home/head.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
  <nav class="topnavbar">
    <div class="navbar-container">
      <div class="navbar-inner-container">
        <div class="navbar-logo-container">
          <a class="logobox" href="{% url 'home:home' %}">
            <img src= "{% static 'common/img/icon_disc.svg' %}" alt="Logo" width="48" height="48">
          </a>
        </div>
        <div class="navbar-menu">
          <li class="navbar-item">
            <a href="{% url 'campaign:campaign-home' %}" class="text--h7 text--medium gray--700">Campaign</a>
          </li>
          {% if user.is_authenticated and user.role == "BUSINESS" %}
          <li class="navbar-item">
            <a href="{% url 'campaign:campaign-create' %}" class="text--h7 text--medium gray--700">Create Campaign</a>
          </li>
          <li class="navbar-item">
            <a href="{% url 'business:business-dashboard' %}" class="text--h7 text--medium gray--700">Dashboard</a>
          </li>
          {% endif %}
        </div>
        <div class="navbar-content">
          {% if user.is_authenticated %}
          <li class="navbar-item">
            <a href="#" class="text--h7 text--medium gray--700">User: {{ user.get_username }}</a>
          </li>
          <button class="btn--fill--primary--m">
            <a href="{% url 'user:logout' %}?next={{ request.path }}" class="text--h7 text--medium gray-50">Logout</a>
          </button>
          {% else %}
          <li class="navbar-item">
            <a href="{% url 'user:signup' %}" class="text--h7 text--medium gray--700">Sign up</a>
          </li>
          <button class="btn--fill--primary--m">
            <a href="{% url 'user:login' %}?next={{ request.path }}" class="text--h7 text--medium gray-50" role="button">Login</a>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

  {% block content %}
  {% endblock %}
  
</body>
</html>

