{% extends "home/base.html" %}
{% block title %} Collaberr {% endblock %}
{% block content%}
<div class="container--max">
  <div class="section__hero">
      <h1 class="text--t1 text--bold text--center gray-900">Boost your productivity.</h1>
      <div class="spacer--40"></div>
      <p class="text--h6 text--medium text--center gray-500">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla.</p>
      <div class="spacer--80"></div>
    <button class="btn--fill--primary--cta">
      <p class="text--h6 text--medium gray-50">Get started</p>
    </button>
  </div>
</div>
{% endblock %}